.topNav {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  background: #2d2b2b;
  background: rgb(217, 217, 217);
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  gap: 0.7rem;
}

.topNav hr {
  border-top: 2px dotted gray;
  margin: 1.5vh 0;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top p {
  display: flex;
  gap: 1rem;
}

.top p a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  color: var(--theme);
}

.top p a svg {
  color: var(--theme);
}

.top legend {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.top legend svg {
  font-size: 1.2rem;
  color: var(--theme);
}

.top legend a {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: var(--theme);
}

.low {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuTab {
  display: none;
}

.low nav {
  display: flex;
  gap: 1rem;
}

.low nav a {
  color: var(--theme);
}

.logo {
  color: var(--theme);
  font-size: 1.5rem;
}


@media all and (max-width:900px) {
  .topNav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .top {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .top p {
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menuTab {
    display: flex;
    position: absolute;
    right: 100%;
    top: 0;
    background: var(--theme);
    color: var(--text);
    padding: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .low nav {
    position: fixed;
    top: 0;
    right: -180px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 140px;
    background: white;
    z-index: 1000;
    transition: 0.4s ease;
  }

  .low nav.change {
    right: 0;
  }

  .low nav a {
    color: black;
  }
}