@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Wix Madefor Display", sans-serif; */
  /* font-family: "Outfit", sans-serif; */
  scroll-behavior: smooth;
}

:root {
  --bg: #2d2b2b;
  --theme: #2d2b2b;
  --text: white;
  --text: #232323;
  --text: #ffe46c;
  --gSpace: 1rem;
  /* --text: lightgray; */
}

main {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

#con {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

#hor {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

body::-webkit-scrollbar {
  width: 10px;
  background: lightgray;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 10px;
}

.cover {
  object-fit: cover;
  object-position: center;
}

.contain {
  object-fit: contain;
}

.cash {
  font-family: 'Poppins', sans-serif;
}

#liner {
  border-bottom: 3px solid var(--text);
  padding: 5px 0;
}

#title {
  font-size: 1.5rem;
  color: var(--theme);
  padding: 5px 0;
  border-bottom: 4px solid var(--text);
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#cut,
#cut2,
#cut3,
#cut6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

#cut {
  -webkit-line-clamp: 1;
}

#cut2 {
  -webkit-line-clamp: 2;
}

#cut3 {
  -webkit-line-clamp: 3;
}

#cut6 {
  -webkit-line-clamp: 4;
}


@media all and (max-width:1300px) {
  #hor {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media all and (max-width:900px) {
  #hor {
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  main {
    gap: 7vh;
  }
}


@media all and (max-width:650px) {
  :root {
    --gSpace: 0.5rem;
  }

  #con {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
  }
}