.serviceBox {
  display: grid;
  gap: 3vh;
}

.serviceBox header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serviceBox header>*:nth-last-child(1) {
  padding: 8px;
  background: var(--text);
  color: black;
  font-weight: 600;
}

.services {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.service {
  padding: 15px;
  background: whitesmoke;
  transition: 0.4s ease;
  display: grid;
  gap: 0.5rem;
}

.specialization {
  /* background: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: whitesmoke;
  padding: 20px;
  /* border-radius: 10px; */
}

.specialization .imgBox {
  padding: 40px;
  background: red;
  border-radius: 50%;
}

/* .specialization img {
  border: 1px solid white;
} */

.specialization p {
  text-align: center;
}


.service .imgBox {
  position: relative;
  height: 180px;
}

.service .imgBox img {
  object-position: top;
}

.service strong {
  font-size: 1.4rem;
}

.service p {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

@media all and (max-width:1100px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width:700px) {
  .serviceBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width:500px) {
  .service .imgBox {
    position: relative;
    height: 220px;
  }

  .services {
    grid-template-columns: repeat(1, 1fr);
  }

  .service p {
    text-align: center;
  }

  .serviceBox header {
    flex-direction: column;
    gap: 0.5rem;
  }
}