.teamBox {
  display: grid;
  gap: 3vh;
}

.members {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.member {
  display: grid;
  gap: 1rem;
  align-content: flex-start;
  padding: 20px;
  background: whitesmoke;
}

.member .imgBox {
  height: 250px;
  position: relative;
}

.member .imgBox img {
  object-position: top !important;
}

.member article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.member article hr {
  height: 2px;
  display: block;
  background: black;
  width: 100%;
}

.member article strong {
  font-size: 1.2rem;
}

.member svg {
  font-size: 1.2rem;
}

.member article small {
  font-size: 1rem;
}

@media all and (max-width:1100px) {
  .teamBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .members {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width:850px) {
  .members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width:550px) {
  .members {
    gap: 1rem;
  }

  .members {
    grid-template-columns: repeat(1, 1fr);
  }

  .member .imgBox {
    height: 300px;
  }
}